html {
    background-color: rgb(136, 168, 180);
    padding: 15px;
}
header {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
thead {
    background-color: steelblue;
}
td.monospace {
    font-family: monospace;
    text-align: center;
}
span {
    background-color: rgb(195, 211, 214);
}
table {
    width: 100%;
    border: 4px solid black;
}
th, td {
    border: 1px solid black;
}
.top-line td {
    border-top: 3px solid black;
}